html body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .fond {
        background-image: url('starboy2.JPG');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .burger{
        border: white 4px solid;
        width: 12vw;
        height: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8%;
        cursor: pointer;
        transition: 1s;
        margin-left: auto;
    }


    .steak{
        border: 3px white solid;
        width: 80%;
        border-radius: 5%;
    }

    .navbar{
        height: 10%;
        display: flex;
        align-items: center;
        justify-items: flex-end;
    }
}


@media (min-width: 768px) {
    .fond {
        background-image: url('starboy1.jpg');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .burger{
        border: white 4px solid;
        width: 5vw;
        height: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8%;
        cursor: pointer;
        transition: 1s;
        margin-left: auto;
    }


    .steak{
        border: 2px white solid;
        width: 80%;
        border-radius: 5%;
    }

    .navbar{
        height: 15%;
        display: flex;
        align-items: center;
        justify-items: flex-end;
    }
}







.menu{
    height: 100vh;
    width: 0;
    background-color: #d20120;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 1s;
    position : absolute;
}

.ouvert{
    width: 100vw;
}
.ouvert>.boutonMenu{
    display: block;
}

.boutonMenu{
    color: white;
    font-weight: bolder;
    font-size: 2.2em;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}